.App {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.one_p {
  height: 100vh;
  display: flex;
  flex-direction: row; /* Ensures side-by-side layout */
  width: 100%;
}

.one_p.chat_bot {
  flex: 3; /* 60% of the screen */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.pdf-to-text {
  flex: 2; /* 40% of the screen */
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.vertical-line {
  width: 2px;
  background-color: #ccc;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  align-self: flex-start;
  text-align: center;
  margin-bottom: 20px;
}

.parent_chat {
  background-color: #808080;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  height: 85%;
}

.chat-window {
  padding: 0.5rem 1rem;
  height: 75vh;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat-window::-webkit-scrollbar {
  width: 15px;
}

.chat-window::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
  background-clip: padding-box;
}

.message {
  margin: 0.5rem 0;
  border-radius: 10px;
  display: inline-block;
  max-width: 80%; /* Ensures messages don't take up more than 80% of the container width */
  min-width: 1%; /* Ensures very short messages have a minimum width */
  word-wrap: break-word; /* Ensures long words break to the next line */
}

.message.user {
  align-self: flex-end;
  padding: 0 1rem;
  text-align: right;
  color: white;
  background-color: #2f2f2f;
}

.message.bot {
  align-self: flex-start;
  padding: 0 1rem;
  text-align: left;
  color: white;
  background-color: #2f2f2f;
}

.txt {
  margin: 0;
  padding: 0.8rem 1rem;
}

.prompt {
  width: 200%;
  align-self: center;
  border-radius: 11px;
}

.msg {
  border-radius: 50px;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px
}

.parent_prompt {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.msg:focus {
  outline: none;
}

.btn_send {
  margin-bottom: 0.6rem;
  height: 4rem;
  width: 6rem;
  transform: translateX(-40px);
  background: none;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  border: none;
}

.btn_send:focus, .btn_record:focus {
  outline: none;
}

.btn_record {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
  background-color: black;
  font-size: 1.7rem;
  color: red;
  padding: 0.2rem;
  transform: translateX(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50px;
}

.self_center {
    align-self: center;
  text-align: center;
}

.choose_btn {
  margin-bottom: 2rem;
}
.choose_btn::-webkit-file-upload-button {
  background-color: black;
  color: white;
  padding: 13px;
  border: 0;
  margin: 1rem;
  border-radius: 5px;
}
/* Styling for the attachment button */
.btn_attach {
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 5px; /* Padding */
  display: flex; /* Center items */
  font-size: 1.5rem; /* Icon size */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 50%; /* Rounded shape */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  transition: background-color 0.3s; /* Smooth transition */
}

.btn_attach:hover {
  background-color: #45a049; /* Darker green background on hover */
}


.choose_btn::-webkit-file-upload-button:hover {
  background-color: #4caf50;
}

.extracted-text {
  border: 1px solid #ccc;
  color: #1a1a1a;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 75vh; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.extracted-text pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.clear_btn {
  background-color: black;
  color: white;
  padding: 10px;
  border: 0;
  margin-top: 1rem;
  margin-right: 2rem;
  border-radius: 5px;
}

.generated-image {
  object-fit: contain;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 30px;
  border-radius: 5px;
}

img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: 5px;
}

.model_select {
    position: absolute;
    top: 17%;
    left: 5%;
    transform: translate(-20%, -50%);
    max-width: 200px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.73);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.76);
    z-index: 1;
}

/* Popup form styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-inner {
  background: white;
  padding: 20px;
  color: black;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.api-key-form label {
  display: block;
  margin-bottom: 10px;
}

.api-key-form input {
  width: calc(100% - 20px);
  padding: 5px;
  margin-bottom: 10px;
}

.api-key-form button {
  margin-right: 10px;
}

.cred {
  margin-bottom: 0.7rem;
  margin-left: 1.5rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.cred:hover {
  background-color: #45a049;
}

.api-submit {
  background-color: black;
  color: white;
  padding: 10px;
  border: 0;
  margin-top: 1rem;
  border-radius: 5px;
}

.api-submit:hover {
  background-color: #333;
}

.api-close {
  background-color: black;
  color: white;
  padding: 10px;
  border: 0;
  margin-top: 1rem;
  border-radius: 5px;
}

.api-close:hover {
  background-color: #333;
}

