
.App {
    font-family: Arial, sans-serif;
    text-align: center;
}

.chat-window {
    border: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow-y: scroll;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.message {
    padding: 5px;
    margin: 5px 0;
}

.message.user {
    text-align: right;
    color: #2962ff; /* Dark blue */
}

.message.bot {
    text-align: left;
    color: #4caf50; /* Green */
}

input[type="text"] {
    width: calc(30% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50; /* Green */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Darker green */
}

.speech-to-text, .pdf-to-text {
    margin: 20px auto;
}
.pdf-to-text {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 60%;
}
h1 {
    margin-bottom: 10px;
}

.extracted-text {
    margin-top: 10px;
    border: 1px solid #ccc;
    color: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.extracted-text pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
